# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html
#用于指定爬虫文件的设置文件
[settings]
default = myspider.settings

[deploy]
#url = http://localhost:6800/
project = myspider
